<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Music Recommend</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header class="main-header">
        <h1 class="site-title"><a href="{{ url_for('index') }}">장르 기반 음악 추천</a></h1>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-box">
                {% for msg in messages %}
                    <div class="flash-item">{{ msg }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="main-footer">
        <p>Powered by Spotify Web API - Flask</p>
    </footer>
</body>
</html>